@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto
}

@layer base {
  * {
    @apply text-base font-quicksand outline-none;
  }
  h1 {
    @apply text-4xl font-playfair-display font-bold;
  }
  h2 {
    @apply text-3xl font-playfair-display;
  }
  h3 {
    @apply text-2xl font-quicksand;
  }
  h4 {
    @apply text-xl;
  }
  small {
    @apply text-sm;
  }
}

@layer components {
  .tab-active {
    @apply text-sky-blue;
  }
}